# Dependencies (The heaviest folders that should never be uploaded)
node_modules/
jspm_packages/
web_archiver/
venv/
.venv/
env/

# Log files (Error and debugging records)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Build outputs (Production ready files)
dist/
build/
out/
.next/
.nuxt/

# Security & Environment Variables (Keep your passwords and keys private!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.pem
*.key

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
.DS_Store?
_notes
Thumbs.db

# Testing and Coverage
coverage/
.nyc_output
